// variables
$color-body:  linear-gradient(to bottom ,#093838 ,#152929 );
$color-texto:#fff6f6;
$color-footer:  #0e2222;

$font-h: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-tex:Helvetica, sans-serif;